<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/verde">Verde</a></li>
      <li><a href="/azul">Azul</a></li>
    </ul>
  </nav>
  {{{body}}}
</body>

</html>